@import '/src/styles/tokens.css';
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Sponsor Marquee*/
.sponsors-row {
    background-color: #E6F3FF40;
    border-top: 1px solid rgba(240, 168, 192, 0.2);
    border-bottom: 1px solid rgba(240, 168, 192, 0.2);
    padding: 40px 24px 40px;
    overflow: hidden;
}

.sponsors-kicker {
    text-align: center;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-weight: 350;
    font-family: 'Inter', serif;
    text-transform: uppercase;
    color: var(--ds-plum-700);
}

.marquee-track {
    display: flex;
    gap: 8vw;
    width: max-content;
    animation: marquee 22s linear infinite;
    align-items: center;
}

.marquee-track img {
    height: 8vw;
    max-width: auto;
    object-fit: contain;
    display: block;
}

.marquee-track:hover {
    animation-play-state: paused;
}

/*.sponsor-pill {
    display: inline-flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px 24px;
    border: 1px solid rgba(240, 168, 192, 0.3);
    border-radius: 40px;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-soft);
    white-space: nowrap;
    letter-spacing: 0.03em;
}*/

@keyframes scrollPulse {

    0%,
    100% {
        opacity: 0.4;
        transform: scaleY(0.7);
        transform-origin: top;
    }

    50% {
        opacity: 1;
        transform: scaleY(1);
        transform-origin: top;
    }
}

/* Sponsor Marquee*/
@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}